
.home {
    position: relative;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  /* .content-form{
    display: flex;
  } */
  .background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../image/homebg.jpg'); 
    background-size: cover;
    background-position: center;
    opacity: 0.8;
    z-index: -1; 
  }
  
  .content {
    align-items: center;
    z-index: 1; 
    display: flex;
    width: 100%;
    gap: 10rem;
  }
  
  .animated-text {
    font-size: 2rem; 
    color: #fff;
    animation: fadeInUp 4s ease-in-out; 
  }
  
  @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(40px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  /* Media query for responsive design */
  @media screen and (max-width: 768px) {
    .animated-text {
      font-size: 1.5rem; /* Adjust the font size for smaller screens */
    }
  }
  